td.activity {
  text-align: left;
  padding-left: 15px;
}

td.subactivity {
  text-align: left;
  padding-left: 23px;
}

td.aclass {
  text-align: left;
  padding-left: 35px;
}

.bigger-font {
  font-size: 22px;
}

td.td_red {
  color: red;
  font-weight: bold;
}

td.expense {
  text-align: left;
  padding-left: 50px;
}

td.objexp {
  text-align: left;
  padding-left: 60px;
}

td.objspe {
  text-align: left;
  padding-left: 72px;
}

td.pap1 {
  text-align: left;
  padding-left: 10px;
}

td.pap2 {
  text-align: left;
  padding-left: 20px;
}

td.pap {
  text-align: left;
  padding-left: 15px;
}

td.activity1 {
  text-align: left;
  padding-left: 23px;
}

#tbl_chart_accounts tbody tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

#sticky-preview {
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 0.9rem;
}

td.subactivity1 {
  text-align: left;
  padding-left: 35px;
}

td.costtype {
  text-align: left;
  padding-left: 45px;
}

td.expense1 {
  text-align: left;
  padding-left: 56px;
}

td.objexp1 {
  text-align: left;
  padding-left: 60px;
}

td.objspe1 {
  text-align: left;
  padding-left: 72px;
}

td.subtotal {
  text-align: left;
  padding-left: 40px;
}

.all-bordered table,
td,
th {
  border: 1px solid;
}

.current {
  background-color: #3adbd9;
}

.color1 {
  background-color: #d2ecd0;
}

.color2 {
  background-color: #b8d887;
}

.color3 {
  background-color: #92cb3c;
}

.color4 {
  background-color: #9aaf55;
}

.completed {
  background-color: #22851ba0;
}

.white-text {
  color: #ffffff;
}

.wpooled {
  background-color: #eed5e2;
}

.gray-bg {
  background-color: #e5e1d6;
}

.gray1-bg {
  background-color: #a6a39e;
}

.gray2-bg {
  background-color: #bab6b2;
}

.gray3-bg {
  background-color: #d3d3d2;
}

.no-border {
  border: none;
  border: 0;
}

table.fixedHeader-floating {
  background-color: white;
}
table.fixedHeader-floating.no-footer {
  border-bottom-width: 0;
}
table.fixedHeader-locked {
  position: absolute !important;
  background-color: white;
}
@media print {
  table.fixedHeader-floating {
    display: none;
  }
}

.ui-autocomplete {
  z-index: 1050 !important;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  position: absolute !important;
}

.notif_unread {
  font-weight: 300;
  padding: 10px 10px;
  position: absolute;
  right: 5px;
  top: 40px;
  border-radius: 15px;
}

.select2-close-mask {
  z-index: 2099;
}
.select2-dropdown {
  z-index: 3051;
}

.topborder,
.topborder > th,
.topborder > td {
  border-top: #000;
}

select:disabled {
  background-color: white;
  color: black;
}

.gray {
  color: #706b6b;
}

.blue {
  color: #2089c5;
}
.red {
  color: #e61818;
}

.green {
  color: #279e3f;
}

.white {
  color: #fff;
}

.topborder th,
.topborder td,
.topborder thead th,
.topborder tbody + tbody {
  border-top: #000;
}

.table-hover .topborder:hover {
  border-top: #000;
}

.table-hover .topborder:hover > td,
.table-hover .topborder:hover > th {
  border-top: #000;
}

.disabledbtn {
  color: #6c6969;
}

@media print {
  .noprint {
    display: none;
  }
}

.isresolved {
  background-color: #85cd85;
}

.toresolved {
  background-color: #e49c9c;
}

.yellow-bg {
  background-color: #ffffd7;
}

.lightred-bg {
  background-color: #ffd7d7;
}

.lightgreen-bg {
  background-color: #c6ffc6;
}

div.action-buttons {
  white-space: nowrap;
}

div.action-buttons span {
  display: inline-block;
  min-width: 18px;
  cursor: pointer;
}

/* maine */
.table-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Add spacing between tables */
  gap: 0px; /* Optional: Adjust gap between tables */
}
.half-table {
  border: 0;
  border-spacing: 0;
  width: 50%; /* Ensure tables fit within the container */
}
.cell-padleft-1 {
  padding-left: 50px; /* Increase padding for a specific cell */
}

.cell-padleft-2 {
  padding-left: 60px; /* Increase padding for a specific cell */
}

tr.cell-pad td {
  padding: 5px !important;
}

.border-2 {
  border-top: 2px solid !important;
  border-right: 2px solid !important;
  border-bottom: 2px solid !important;
  border-left: 2px solid !important;
}

.top-border-2 {
  border-top: 2px solid !important;;
}

.right-border-2 {
  border-right: 2px solid !important;;
}

.bottom-border-2 {
  border-bottom: 2px solid !important;
}

.table-borderless td.with-border,
.table-borderless th.with-border {
  border: 1px solid #000 !important;
}

.table-borderless td.with-left-border,
.table-borderless th.with-left-border {
  border-left: 1px solid #000 !important;
}

.table-borderless td.with-right-border,
.table-borderless th.with-left-border {
  border-right: 1px solid #000 !important;
}

.no-border {
  border: 0 !important;
}

.left-border-2 {
  border-left: 2px solid !important;
}
.no-top-border {
  border-top: none !important; /* Removes top border */
}
.no-bottom-border {
  border-bottom: none !important; /* Removes top border */
}
.no-left-border {
  border-left: none !important; /* Removes top border */
}
.no-right-border {
  border-right: none !important; /* Removes top border */
}
.text-underlined {
  text-decoration: underline !important;
}
.underline-above {
  display: inline-block;
  border-top: 1px solid black; /* Creates an underline above */
  padding-top: 5px; /* Adjust spacing between text and line */
}
.underline-sn {
  display: inline-block;
  border-bottom: 1px solid #000;
  width: 150px;
}
.label-sn {
  display: inline-block;
  width: 100px;
}
.rs {
  height: 100%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0;
}
.underline-sign {
  display: inline-block;
  border-bottom: 1px solid #000;
  width: 330px;
}

.bottom-border-1{
  border-bottom: 1px solid #000 !important;
}
.full-height-table{
  height:100%;
}
/* maine */
